










section#dental.dental
  .dental__wrapper
    .ibg.bg
      img(src="assets/img/dental-1.png",alt="img")
    .container
      .dental__body
        .dental__chips
          .chip
            .chip__title Стоматология
          .chip
            .chip__title Косметология
        .dental__desription “Идеальное лицо — это совместное достижение стоматолога и косметолога. Если вы видите недостатки в своих чертах лица, а процедуры не дают желаемого результата, вам необходим комплексный подход для решения проблемы.”
        h2 АКЦИИ
        .dental__plaza
          .card
            .card__title Отбеливание зубов
            .card__text Отбеливание зубов Phillips Zoom White Speed( Zoom4) -20000 вместо 27000
            a.jacb(href="#!")
              .card__link Details
              i &#8594;

section#nav.nav
  .nav__wrapper
    .container
      .chip-button
        form.chip-button__body
          p
            button(type="button") Расчитать стоимость
      .chip-button.chip
        form.chip-button__body
          p
            button(type="button") получить консультацию
      .bot
        span.bot__icon.icon-emoji
        .bot__texts
          .bot__text +7(495) 726-55-80
      .bot
        span.bot__icon.icon-emoji
        .bot__texts
          .bot__text Москва, Ломоносовский 
          .bot__text проспект, 29 к 















