//- подключаем везде
include ../utils/mixins

.up_down_btn(title='Наверх') ↑


.cssload
  .cssload-loader#p_prldr
    .cssload-inner.cssload-one
    .cssload-inner.cssload-two
    .cssload-inner.cssload-three
