//- подключаем везде
include ../utils/mixins




//- #p_prldr
//-   .contpre
//-     span.svg_anm
//-     br
//-     | Подождите
//-     br
//-     small идет загрузка




//- сделал оверлей поверх меню на <768. по оверлею-закрытие. он прозрачный. z-index: 1. чтобы ссылки были поверх него им индекс немного больше. вообще все кликабельное-- сквезь него индексами.


#header.header
  .header__body.container
    .header__logo
      img(src = "assets/img/main-logo.svg", alt = "img")
    #header__menu.header__menu
      .header__menu_overlay
      ul
        li
          a.header__link(href='#!') About
        li
          a.header__link(href='#!') Services 
        li
          a.header__link(href='#!') Price list
        li
          a.header__link(href='#!') Contacts 

      span.icon-close2
    a(href="#!").header__phone-link +7(495) 726-55-80
    form.header__search
      input(type="text" name="search" placeholder="Поиск")
      i.icon-Vector
    span.header__burger.icon-menu


