.container
  .popup__init
      | открытие модалки

section#modal.modal
  .popup
    .popup__overlay
    .popup__inner
      | модалка закрывается по клику на оверлей и по клику на крестик
      include includes/test-plaza__item
      include includes/test-plaza__item
      include includes/test-plaza__item
      include includes/test-plaza__item
      include includes/test-plaza__item
      include includes/test-plaza__item
      include includes/test-plaza__item
      include includes/test-plaza__item
      span.icon-close2



