//- подключаем везде
include ../utils/mixins



section.testGerl
  .container-fluid
    
    .row.no-gutters
      .card.testGerl__cardGerl
        img.card-img-top(src='./assets/img/dental-1.png' alt='Card image')
        .card-img-overlay
          .jucc
            +btn-primary-brown("Стоматология")
            +btn-primary-brown("Косметология")
          .alert.alert-light  “Идеальное лицо — это совместное достижение стоматолога и косметолога. Если вы видите недостатки в своих чертах лица, а процедуры не дают желаемого результата, вам необходим комплексный подход для решения проблемы.”
          h5.card-title АКЦИИ
          .badge.badge-pill.badge-light 
            .title Отбеливание зубов
            .text Отбеливание зубов Phillips Zoom White Speed( Zoom4) -20000 вместо 27000
            a.testGerl__ref(href="#!") Подробнее
              i &#8594;


    
    
    //- .row.no-gutters.justify-content-between
    //-   .test__item.col-sm-5.col-md-3
    //-     .card.text-center 
    //-       img.card-img-top(src='/assets/img/img_parallax.jpg' alt='Card image cap')
    //-       .card-body
    //-         h5.card-title Название карточки
    //-         p.card-text
    //-           | Some quick example text to build on the card title and make up the      bulk of the card's content.
    //-         a.btn.btn-primary(href='#') Переход куда-нибудь
    //-   .test__item.col-sm-5.col-md-3
    //-     .card
    //-       img.card-img-top(src='/assets/img/img_parallax.jpg' alt='Card image cap')
    //-       .card-body
    //-         h5.card-title Название карточки
    //-         p.card-text
    //-           | Some quick example text to build on the card title and make up the      bulk of the card's content.
    //-         a.btn.btn-primary(href='#') Переход куда-нибудь
    //-   .test__item.col-sm-5.col-md-3
    //-     .card
    //-       img.card-img-top(src='/assets/img/img_parallax.jpg' alt='Card image cap')
    //-       .card-body
    //-         h5.card-title Название карточки
    //-         p.card-text
    //-           | Some quick example text to build on the card title and make up the      bulk of the card's content.
    //-         a.btn.btn-primary(href='#') Переход куда-нибудь
    //-   .test__item.col-sm-5.col-md-3
    //-     .card
    //-       img.card-img-top(src='/assets/img/img_parallax.jpg' alt='Card image cap')
    //-       .card-body
    //-         h5.card-title Название карточки
    //-         p.card-text
    //-           | Some quick example text to build on the card title and make up the      bulk of the card's content.
    //-         a.btn.btn-primary(href='#') Переход куда-нибудь
    //-   .test__item.col-sm-5.col-md-3
    //-     .card
    //-       img.card-img-top(src='/assets/img/img_parallax.jpg' alt='Card image cap')
    //-       .card-body
    //-         h5.card-title Название карточки
    //-         p.card-text
    //-           | Some quick example text to build on the card title and make up the      bulk of the card's content.
    //-         a.btn.btn-primary(href='#') Переход куда-нибудь
    //-   .test__item.col-sm-5.col-md-3
    //-     .card
    //-       img.card-img-top(src='/assets/img/img_parallax.jpg' alt='Card image cap')
    //-       .card-body
    //-         h5.card-title Название карточки
    //-         p.card-text
    //-           | Some quick example text to build on the card title and make up the      bulk of the card's content.
    //-         a.btn.btn-primary(href='#') Переход куда-нибудь

   




