.card
  span.icon-emoji.card__img
  .card__title какой-то контент
  .card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos ipsam neque debitis totam corporis fugiat nemo consectetur. Incidunt aliquvoluptates perferendis maxime, aut amet nulla impedit rerum beatae. Voluptate, venia