form.connect__form
  .connect__form-item
    input#name(type='text' required='' placeholder=' Denzel Washington')
    label.red-first-letter(for='name') Введите Ваше имя
  .connect__form-item
    input#email(type='email' required='' placeholder=' thebestmail@mail.com')
    label.red-first-letter(for='email') Ведите Ваш e-mail
  .connect__form-item
    textarea#message(type='text' required='' placeholder=' Your awesome message'      cols=' 40' rows='6')
    label.red-first-letter(for='message') Напишите Ваше сообщение
  .connect__form-item.connect__file-add
    input#customFile.custom-file-input(type='file')
    label.name__text.red-first-letter(for='customFile') Добавьте файлы
    .custom-file
  .form__submit-button.chip-button.chip
    button#submit-button.btn.btn__red.btn__hover-grey.btn-6(type='submit')
      span  Отправить 