.list
  .list__title  Лист заголовок
  .list__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero aliquid odio ducimus ex! Neque recusandae nulla fugiat sapiendignissimos maiores porro quae cumque earum maxime sint omnis harum, iusto re